<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>
    <!--define output type, there are 4 types below, you can define one or more types-->
    <root>
      <!--use log file-->
      <appender-ref ref="RollingLogFileAppender"/>
      <!--use console-->
      <appender-ref ref="ConsoleAppender"/>
      <!--use Windows event log-->
      <appender-ref ref="EventLogAppender"/>
      <!--use Access database-->
      <!--<appender-ref ref="AdoNetAppender_Access" />-->
    </root>
    <!--define output to log file-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--log to file name-->
      <file value="log4netfile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd-HH:mm:ss"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--header-->
        <header value="((((((((((((((((((log begin))))))))))))))))))&#13;&#10;"/>
        <!--footer-->
        <footer value="((((((((((((((((((log end))))))))))))))))))&#13;&#10;"/>
        <!--output format-->
        <!--log time: 2014-05-12 15:56:17,249 Processor ID:[8] log level: INFO  error class: Log4NetSample1.MainClass property:[(null)] - error description: info-->
        <conversionPattern value="[time]: %date [proID]:%thread [level]: %-5level [class]: %logger [property]:%property{NDC} [description]: %message%newline"/>
      </layout>
    </appender>
    <!--define output to console-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!--define output to windows event-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!--define output to Database, the sample is ACCESS database, data source is d:\\log4net.mdb-->
    <appender name="AdoNetAppender_Access" type="log4net.Appender.AdoNetAppender">
      <connectionString value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:/log4net.mdb"/>
      <commandText value="INSERT INTO LogDetails ([LogDate],[Thread],[Level],[Logger],[Message]) VALUES (@logDate, @thread, @logLevel, @logger,@message)"/>
      <!--define every arguments-->
      <parameter>
        <parameterName value="@logDate"/>
        <dbType value="String"/>
        <size value="240"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="240"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logLevel"/>
        <dbType value="String"/>
        <size value="240"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="240"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="240"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
